* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Mobile styling */


.login-conatiner {
    background: white;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
    input[type="e-mail"],
        input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #555;
}

.extra-links {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}

.extra-links a {
    color: #007BFF;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}
